@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600;900&family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,200;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Ubuntu', sans-serif; */
* {
    padding: 0;
    margin: 0;
    
}
body{
    font-family: 'Montserrat', sans-serif;
    /* text-align: center; */
}

h2{
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: bold;
}

h3{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: large;
}


.hero-head {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    size: 3rem;
    line-height: 1.5;
    color: white;
}


.container-fluid {
    padding: 3% 15%;
}




/* Navbar styling */
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1rem;
    
}

/* Download buttons */
.download-btn {
    margin: 5% 3% 5% 0;
}

/* Title section */
#title {
    /* padding: 0 2rem; */
    background-color: #ff4c68;
    color: #fff;
    text-align: left;
    
    
}

#title .container-fluid {
    padding: 3% 15% 7%;
}

/* Title image */
.title-img {
    /* width: 60%; */
    width: 17.5rem;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}


/* Features section */
#features{
    /* margin-top: 2rem; */
    padding: 7% 15%;
    position: relative;
    background-color: #fff;
    
    /* z-index: 1; */
}


.feature-box{
    text-align: center;
    padding: 5%;
}


.feature-box p{
    font-size: small;
    color: #8f8f8f;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
    cursor: pointer;
}


/* Testimonials  */

#testimonials{
    
    text-align: center;
    background-color: #ef8172;
    color: white;
    
}

.carousel-item{
    padding: 7% 15%;
}


.testimonial-image{
    width: 15%;
    border-radius: 100%;
}

/* Press section  */
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width:20%;
    padding: 20px 30px 50px;
}


/* pricing */
#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}



/* Call to action */
#cta{
    padding: 5%;
    text-align: center;
    background-color: #ff4c68;
}

#cta h3{
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.5;
    color: #fff;
}


/* Footer  */

#footer{
    text-align: center;
    padding: 7% 15%;
}

#footer p{
    color: #8f8f8f;
}

.social-icon{
    padding: 20px 10px;
}

#topBtn{
    position: fixed;
    height: 50px;
    width: 50px;
    background-color: #ef8172;
    border-radius: 100%;
    right: 40px;
    bottom: 40px;
    font-size: larger;
    color: white;
    z-index: 12;
    text-align: center;
    border: 2px solid #ef8172;
    /* display: none; */
}
#topBtn:hover{
    background-color: #ff4c68;
    border: 2px solid #ff4c68;
    color: white;
}
#up-arrow{
    height: 100px;
    width: 50px;
}

@media (max-width:1800px) and (min-width:1028px){
    #title{
        height: 90vh;
    }
}

@media (max-width:1028px){
    #title{
        text-align: center;
    }
    .title-img{
        position: static;
        transform: rotate(0deg);
    }
}
